<!doctype html>

<html>
<head>
<py include="head.html"/>
</head>

<body>

<py include="navbar.html"/>

<div class="row">

    <div class="col-xs-1">
    </div>
    
    <div class="col-xs-6">
    
        <h1 class="h1">Demo application</h1>
    
    </div>
</div>

<py code="if role == 'admin':" >
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4">
            <a href="/list_users">Users list</a>
        </div>
    </div>
</py>

<py include="scripts.html"/>

</body>
</html>